<!DOCTYPE html>
<html>
<head>
  <title>SISLETRON</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_aluno %>
    Logado como <%= current_aluno.nome %> | <%= link_to "Logout", '/logout' %>
  <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Cadastro', '/cadastro' %>
  <% end %>

  <% flash.each do |k, v| %>
     <div id="<%= k %>"><%= v %></div>
   <% end %>

<%= yield %>

</body>
</html>
