<!DOCTYPE html>
<html>
<head>
  <title>SISLETRON</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

</head>
<body>

<div id="top">
  <div id="top-container">

    <div id="title-top">
      <a class="title-top" href="<%= root_path %>">
        SISLETRON
      </a>
    </div>


    <div id="login-box">
      <div class="login-text">
        <% if current_aluno %>
          <%= link_to current_aluno.nome, aluno_path(current_aluno) %>  | <%= link_to "Sair", '/logout' %>
        <% else %>
          <% if current_professor %>
            <%= link_to current_professor.nome, professor_path(current_professor) %> | <%= link_to "Sair", '/logout' %>
          <% else %>
            <%= link_to 'Login', '/login' %> | <%= link_to 'Cadastro de Alunos', '/cadastro_aluno' %> | <%= link_to 'Cadastro de Professores', '/cadastro_professor' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="container">
  <% if current_aluno? || current_professor %>
    <div id="side-menu">
      <%= render :partial => 'layouts/menulateral' %>
    </div>
  <% end %>
  
  <div id="content">

    <% flash.each do |k, v| %>
      <div id="<%= k %>"><%= v %></div>
    <% end %>

     <%= yield %>

  </div>
</div>

</body>
</html>
