<div class="post-content">
  <h2 style="display: inline;"> <%= @projeto.titulo %> </h2>
  <h3 class="project-score"> Avaliação: <%= @projeto.avaliacao %> </h3>
  <p><%= @projeto.descricao %> </p>

  <div class="separation-line"></div>

  <h4>Conteúdos vistos neste projeto:</h4>
  <% @conteudos.each do |c| %>
    <p> <%= c.titulo %> (<%= c.area_conhecimento.titulo %>)</p>
  <% end %>

  <div class="separation-line"></div>

  <h4>Atividades deste projeto:</h4>
  <% @atividades.each do |a| %>
    <p>&#8594; <%= link_to a.titulo, atividade_path(a)%></p>
  <% end %>
  <% if current_professor? %>
    <%= link_to "Criar Atividade", new_atividade_path(:projeto_id => @projeto.id), class: 'create' %>
  <% end %>

  <div class="separation-line"></div>

  <h4>Projeto aplicado pelos seguintes professores: </h4>
  <% @professores_execucao.each do |p| %>
    <p><%= p.nome %> </p>
  <% end %>

  <h4>Projeto planejado pelos seguintes professores: </h4>
  <% @professores_plano.each do |p| %>
    <p><%= p.nome %> </p>
  <% end %>

  <div class="separation-line"></div>

  <h4>Projeto aplicado nas seguintes turmas: </h4>
  <% @turmas.each do |t| %>
    <p><%= t.ano+t.turma %> (<%= t.escola.nome %>)</p>
  <% end %>


</div>
