<h2> <%= @projeto.titulo %> </h2>
<h3> Avaliação: <%= @projeto.avaliacao %> </h3>
<p>Descrição: <%= @projeto.descricao %> </p>

<br>

<h3>Conteúdos vistos neste projeto:</h3>
<% @conteudos.each do |c| %>
  <h4> <%= c.titulo %> (<%= c.ano %>o ano)</h4>
  <p>Descrição: <%= c.descricao %> </p>
  <p>Pertence à matéria de <%= c.area_conhecimento.titulo %>. </p>
<% end %>

<br>

<h3>Atividades deste projeto:</h3>
<% @atividades.each do |a| %>
  <h4> <%= link_to a.titulo, atividade_path(a)%> </h4>
<% end %>
<h3><%= link_to "Criar Atividade", new_atividade_path(:projeto_id => @projeto.id) %> </h3>



<h3>Projeto aplicado nas seguintes turmas: </h3>
<% @turmas.each do |t| %>
  <p><%= t.ano+t.turma %> (<%= t.escola.nome %>)</p>
<% end %>

<h3>Projeto aplicado pelos seguintes professores: </h3>
<% @professores_execucao.each do |p| %>
  <p><%= p.nome %> </p>
<% end %>

<h3>Projeto planejado pelos seguintes professores: </h3>
<% @professores_plano.each do |p| %>
  <p><%= p.nome %> </p>
<% end %>
