<h2> <%= @projeto.titulo %> </h2>
<h3> Avaliação: <%= @projeto.avaliacao %> </h3>
<p>Descrição: <%= @projeto.descricao %> </p>

<br>

<h3>Conteúdos vistos neste projeto:</h3>
<% @conteudos.each do |c| %>
  <h4> <%= c.titulo %> (<%= c.ano %>o ano)</h4>
  <p>Descrição: <%= c.descricao %> </p>
  <p>Pertence à matéria de <%= c.area_conhecimento.titulo %>. </p>
<% end %>

<br>

<h3>Projeto aplicado nas seguintes turmas: </h3>
<% @turmas.each do |t| %>
  <p><%= t.ano+t.turma %> </p>
<% end %>
