<div class="content-path">
  <i><%= link_to @projeto.titulo, projeto_path(@projeto)%></i> &#8594;
  <i><%= link_to @atividade.titulo, atividade_path(@atividade)%></i> &#8594;
  <i><%= @material_motivador.titulo %></i>
</div>

<h1 class="post-title">Material</h1>
<div class="post-content">
  <h3><%= @material_motivador.titulo %></h3>
  <div class="separation-line"></div>
  <%= @material_motivador.conteudo.html_safe %>
</div>


<h3>Exercícios</h3>
<% if !@exercicios.nil? %>
  <% @exercicios.each do |e| %>
    <%= link_to exercicio_path(e), class: "exercicio"  do %>
      <span class="exercicio">
        <p class="texto"><%= truncate_html(strip_tags(e.enunciado), lengt: 140) %></p>
      </span>
    <% end %>
  <% end %>
<% else %>
  <p>Este material não possui exercícios</p>
<% end %>
</br>
<% if current_professor? %>
  <%= link_to "Criar Exercício", new_exercicio_path(:material_motivador_id => @material_motivador.id), class: 'create' %>
<% end %>
