<div class="basic-grey">
<%= form_for :aluno, url: '/alunos' do |f| %>
<h1>Cadastro de Aluno
      <span>Por favor preencha o formulário abaixo.</span>
  </h1>
  <%= f.error_messages %>

  <span>Nome: <%= f.text_field :nome %></span> 
  <span>Identificador: <%= f.text_field :identificador %> </span>
  <span>Data de Nascimento: <%= f.text_field :data_nascimento %> </span>
  <span>Senha: <%= f.password_field :password %></span> 
  <span>Confirme sua senha: <%= f.password_field :password_confirmation %></span>
  <%= f.submit "Cadastrar" %>

<% end %>
</div>
