<div class="content-path">
  <i><%= link_to @projeto.titulo, projeto_path(@projeto)%></i> &#8594;
  <i><%= link_to @atividade.titulo, atividade_path(@atividade)%></i> &#8594;
  <i><%= link_to @material_motivador.titulo, material_motivador_path(@material_motivador)%></i> &#8594;
  <i>Exercício</i>
</div>

<h1 class="post-title">Exercício</h1>
<div class="post-content">
  <%= @exercicio.enunciado.html_safe %>
</div>

<% if current_aluno? %>
  <% if @resposta.nil? %>
    <%= link_to 'Responder', new_resposta_path(:exercicio_id => @exercicio.id), class: 'create' %>
  <% else %>
    <h1 class="post-title">Resposta</h1>
    <div class="post-content">
      <%= @resposta.conteudo.html_safe %>
    </div>
    <%= link_to 'Editar resposta', edit_resposta_path(@resposta), class: 'create' %>
  <% end %>
<% else %>
  <%= link_to 'Editar exercício', edit_exercicio_path(@exercicio), class: 'create' %>
  <%= link_to 'Deletar exercício', @exercicio,
    :method => :delete, :data => {:confirm => "Tem certeza que deseja excluir este exercício?"} %>
<% end %>

<h2>Respostas</h2>

<% if not @respostas.nil? %>
  <div class="post-content no-padding">
    <% @respostas.each do |r| %>
      <% if not r.aluno.nil? %>
        <%= link_to r.aluno.turma.escola.nome+" - "+r.aluno.turma.ano+r.aluno.turma.turma+" - "+r.aluno.nome, resposta_path(r), class: 'link' %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>Não há nenhuma resposta</p>
<% end %>
